.td1{
	text-align: left;
	font-size: 20px;
	padding-left: 15px;
}
.td2{
	text-align: right;
	padding-right: 15px;
}
.container{
	display: grid;
	grid-template-columns: repeat(3,1fr);
	padding: 60px;
	background-color: #91d18b;
	font-family: 'Montserrat', sans-serif;
}
div{
	background-color: #e0ece4;
	margin: 4px;
	border-radius: 7px;
}
table{
	width: 100%;
}
button{
	color:white;
	background-color: #519872;
	padding:3px 6px;
	border:0px;
	border-radius: 7px;
}