.container{
	text-align: center;
	background-color: #515070;
	margin: 40px;
	margin-top: 75px;
	padding: 80px 0px;
	color: #f6f7d4;
	font-family: 'Montserrat', sans-serif;
}
table{
	margin-left : 160px; 
}
td{
	font-size: 22px;
	padding:5px 25px;
	width: 50%;
	text-align: left;
}
input{
	width: 20em;
    padding: 12px 20px;
    padding-left: 15%;
	border: 0px;
	font-size: 20px;
}
 .input-icons i { 
    position: absolute; 
 } 
          
.input-icons { 
    width: 100%; 
    margin-bottom: 10px; 
} 
          
.icon { 
    padding: 10px; 
    min-width: 40px; 
    color: #1d2d50;
 } 
#submit{
	border:2px solid #28df99;
	padding: 12px 20px;
	border-radius: 8px;
	background-color: #91d18b;
}